.MainGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: aliceblue;
}

.Header{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    height: 75px;
    border-radius: 20px;
    background-color: rgb(255, 222, 34);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.sidebar{
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: rgb(255, 119, 85);
    text-align: center;
}
.nav{
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    height: 80px;
    text-align: center;
        background-color: rgb(0, 221, 255);
}
.article{
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    background-color: rgb(188, 203, 222);
}
.footer{
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 75px;
    text-align: center;
    background-color: rgb(57, 63, 77);
}
.boxgrid{
    background-color: rgb(252, 252, 252);
    display: grid;
    color: red;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
}
.box1{
    background-color: rgb(0, 155, 26);
}
.box2{
    background-color: rgb(255, 255, 0);
}
.box3{
    background-color: rgb(0, 255, 0);
}
.boxaa{
    display: grid;
    grid-template-columns: auto auto;
gap: 10px;
height: 100px;

}
.box4{
    background-color: rgb(255, 210, 11);
}
.fourr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ss{
    background-color: rgb(133, 82, 180);
    align-self: center;
    width: 150px;
}
.aa{
    background-color: rgb(207, 160, 252);
    align-self: flex-start;
    width: 100px;
}
.zz{
    background-color: rgb(65, 10, 117);
    align-self: self-end;
    width: 100px;
}
.box5{
    background-color: rgb(106, 0, 206);
}
.box6{
    background-color: rgb(232, 97, 200);
}
.box7{
    background-color: rgb(255, 105, 180);
    height: 75px;
}
.box8{
    background-color: rgb(0, 0, 139);
}
.box9{
    background-color: rgb(128, 0, 0);
    display: flex;
    flex-direction: column;
}
.nineee{
    
    display: flex;
    gap: 10px;
}
.box9-1{
    width: 100px;
    background-color:rgb(218, 140, 95) ;

}
.box9-2{
    width: 100px;
    background-color:rgb(218, 140, 95) ;
}
.box9-3{
    width: 100px;
    background-color:rgb(218, 140, 95) ;
}
.box9-4{
    width: 100px;
    
    background-color:rgb(218, 140, 95) ;
}
.box3-1{
    background-color: rgb(200, 229, 189);
    width: 200px;
    
}
.box3-2{
    background-color: rgb(200, 229, 189);
    width: 200px;
}
.box3-3{
    background-color: rgb(200, 229, 189);
    width: 200px;
}
.box3-4{
    background-color: rgb(200, 229, 189);
    width: 200px;
}
.box3-5{
    background-color: rgb(200, 229, 189);
    width: 200px;
}
.box3-6{
    background-color: rgb(200, 229, 189);
    width: 200px;
}
.jop{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(10px);
}
.titel-small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input , select ,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 15px;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: red;
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
body {
    margin: 0;
    padding: 0;
  }
  .main-container {
    display: grid;
    gap: 2px;
    grid-template-areas:
      "header header header"
      "page page page";
  }
  .header-container {
    grid-area: header;
    background: rgb(57, 63, 77);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
  }
  .page-container {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 4px;
  }
  .content-container {
    display: flex;
    flex-direction: column;
  }
  .links-container {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }
  .header-logo {
    width: 35%;
  }
  .aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: rgb(255, 119, 85);
  }
  .aside-item {
    background: white;
    padding: 40px;
    border-radius: 6px;
    text-align: center;
  }
  .inner-nav {
    display: flex;
    justify-content: space-around;
    grid-column-start: 2;
    grid-column-end: 4;
    background: rgb(255, 119, 85);
    color: white;
  }
  .cards-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background: lightsteelblue;
    gap: 7px;
    padding: 10px;
  }
  .card {
    background: white;
    padding: 10px 10px 70px 10px;
  }
  
  