.one{
    display: flex;
    width: 500px;
    height: 500px;
    background-color:rgb(102, 255, 0);
    border: 12px solid rgb(255, 33, 202);
    justify-content: center;
    align-items: center;

} 
h1{
    background-color: rgb(191, 255, 0);
    border: 15px solid rgb(128, 0, 0);
    width: 200px;
    height: 200px;

}
.div{
    display: flex;
    background-color:rgb(255, 157, 0) ;
    height: 50px;
    width: 700px;
    justify-content: space-between;
    align-content: baseline;
}
.div p{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 20px;
    padding: 5px;
}
.div1{
    display: flex;
    width: 150px;
    height: 60px;
    align-self: center;
    gap: 10px;
    margin: 7px;
    padding: 7px;
}
.div2{
 background-color: rgb(0, 217, 255);
 color: rgb(0, 21, 255);
 margin: 7px;
 padding: 7px;
}
.div3{
    display: flex;
    width: 150px;
    height: 60px;
    align-self: center;
    gap: 10px;
    margin: 7px;
    padding: 7px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    border-top: 1px solid; 
}
.LOGO{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 50px;
    align-items: center;
}
h2{
    color: rgb(98, 46, 148);
}
.ss{
    color: rgb(98, 46, 148);
}
.MyButton{ 
    width: 140px;
    height: 30px;
    margin: 17px;
    display: inline-block;
    background-color: rgb(102, 49, 151);
    color: aliceblue; 
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.five{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(102, 49, 151);
}
.box1{ 
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 145, 182);
    padding: 10px;
}
.box{
    gap: 5px 5px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: center;

}
.box2{ 
    display: flex;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color: rgb(255, 149, 0);
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.box3{ 
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color: rgb(119, 255, 0);
    width: 20%;
    height: 100px;

}
.box4{  
    
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color: rgb(255, 81, 0);
    width: 20%;
    height: 100px;
}
.box5{ 
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color: rgb(0, 255, 251);
    width: 20%;
    height: 100px;
}
.box6{ 
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color:  rgb(255, 0, 234);
    width: 20%;
    height: 100px;
}
.box7{ 
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color: rgb(87, 87, 114);
    width: 20%;
    height: 100px;
}
.box8{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 255);
    padding: 10px;
} 
.titelnn{
    background-color:rgb(139, 0, 139) ;
    display: flex;
    width: 845px;


}
.title{
    color: aliceblue;
    padding: 15px;
}
.nav{
    display: flex;
    background-color: rgb(65, 105, 225);
    color: aliceblue;
    flex-direction: column;
    width: 200px;
    height: 330px;
    
}
.main{
    background-color: rgb(201, 201, 201);
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px;
    
}
.article1{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    width: 200px;
    gap: 10px;
    display: inline;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.article2{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    display: inline;
    width: 200px;
    border-radius: 10px;
}
.article3{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    display: inline;
    width: 200px;
    border-radius: 10px;
}
.article4{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    display: inline;
    width: 200px;
    border-radius: 10px;
}
.article5{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    display: inline;
    width: 200px;
    border-radius: 10px;
}
.article6{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    display: inline;
    width: 200px;
    border-radius: 10px;
}
.seven{
    display: flex;
}
.search-aa{
    background-color: rgb(32, 33, 36);
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
text{
    padding: 1px 40px
}
.logo-im{
    
    width: 500px;
    height: 175px;
 
    border-radius: 45px;
   
}
.search-ss{
    width: 24px;
    position: absolute;
    top: 2px;
    left: 5px;
}
.mic{
    width: 15px;
    position: absolute;
    top: 1px;
    left: 226px;
}
form{
    position: relative;
}